.about {
    display: flex;
    flex-direction: column;
    background-color: var(--color-green);
    gap: 1rem;
}

.about__header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.about__header > hr {
    width: 15rem;
    height: 0.1rem;
    background-color: var(--color-dark-rosy);
}

.about__header > h1 {
    color: var(--color-dark-rosy);
}

.about__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.about__content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    /* flex-basis: 60%; */
    color: var(--color-black-smoke);
    
}

.about__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 6rem;
    /* row-gap: 0rem; */
    
}

@keyframes wave {
    0%, 100% {
      transform: translateX(0) scale(1); /* Initial position and scale */
    }
    25%, 75% {
      transform: translateX(-15px) scale(1.1); /* Wave to the left */
    }
    50% {
      transform: translateX(15px) scale(0.9); /* Wave to the right */
    }
  }
  

.about__card {
    width: 12rem;
    height: 15rem;
    transform: rotate(65.006deg);
    border-radius: 0.3125rem;
    border: 5px solid var(--color-dark-green);
    background: var(--color-green);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    
    display: flex;
    justify-content: center; /* Align the text horizontally (horizontally centered) */
    align-items: center; /* Align the text vertically (vertically centered) */
 
}

.about__card:hover {
    background: var(--color-dark-green);
}

.about__cardFilled {
    width: 12rem;
    height: 15rem;
    transform: rotate(65.006deg);
    border-radius: 0.3125rem;
    background: var(--color-dark-green);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center; /* Align the text horizontally (horizontally centered) */
    align-items: center; 
    
}

.about__cardFilled:hover{
    border: 5px solid var(--color-dark-green);

}

.about__card p,
.about__cardFilled p {
    transform: rotate(-65.006deg);
    font-size: 14px;
    text-align: left;
    width: 15rem;
    height: 5rem;
    
}

.about__image {
    width: 22rem;
    
}

.about__image:hover {
    transform: scale(1.1);
}
