.home{
    height: 95vh;
    padding-top: 2rem;
    overflow: hidden;
    background-color: var(--color-blue);
}


.header__container{
    text-align: center;
    height: 100%;
    position: relative;
}

.home__container{
    padding: 0 5rem;
}

.home__header{
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 10rem;
}

.home__body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.home__body > h1 {
    font-weight: 600;
    color: var(--color-dark-rosy);
    align-content: center;
}

.home__body__container{
    
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 2rem;
    padding-right: 2rem;
    border-radius: 1.25rem;
    background: var(--color-blue);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    
}

.home__body-rightTop{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.home__body-rightTop > h2 {
    color: var(--color-black-smoke);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.home__body-rightTop > div {
    color: var(--color-black-smoke);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.home__body-right{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.home__body-right > button {
    border-radius: 0.5rem;
    background: var(--color-gold);
    padding: 1rem 3rem;
    font-size: 16px;
    font-weight: 600;
    color: var(--color-black-smoke);
    cursor: pointer;
}

.home__body-right > button:hover{
    border: var(--color-gold) 5px solid;
    background-color: var(--color-blue);
}

.home__body__container > img {
    margin-bottom: -2rem;
    width: 25rem;
    /* padding-bottom: -5rem; */
}



/* CTA */
.cta{
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}


/* HEADER SOCIALS */
.header__socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header__socials::after{
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}



/* IMAGE */
.me{
    background: linear-gradient(var(--color-primary), transparent);
    width: 15rem;
    height: 23rem;
    position: absolute;
    left: calc(50% - 7.3rem);
    margin-top: 4rem;
    border-radius: 7rem 7rem 0 0;
    overflow: hidden;
    padding: 3rem 1.5rem 1.5rem 1.5rem;
}


/* SCROLL DOWN */
.scroll__down{
    position: absolute;
    right: 2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}


/* Media Queries (Medium Devices) */
@media screen and (max-width: 1024px) {

    header{
        height: 60vh;
    }

   
    
}


/* Media Queries (Small Devices) */
@media screen and (max-width: 600px) {

    header{
        height: 85vh;
    }

    .header__socials,
    .scroll__down{
        display: none;
    }
    
}


/* Media Queries (Small Devices) */
@media screen and (max-width: 380px) {

    header{
        height: 118vh;
    }

    .header__socials,
    .scroll__down{
        display: none;
    }
    
}

/* Media Queries (Small Devices) */
@media screen and (max-width: 370px) {

    header{
        height: 100vh;
    }

    .header__socials,
    .scroll__down{
        display: none;
    }
    
}

